.friendlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .item {
    width: 69%;
    display: flex;
    background-color: #fff;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.363);
    max-width: 15%;
    }
  
  .status {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .avatar {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .name {
    font-weight: 700;
    font-size: 20px;
  }